.side-bar-link{
    width:300px !important;
    height:45px !important;
    text-decoration:none !important;
    border-radius:15px !important;
    background:linear-gradient(to left, white 50%, #C0C0C0 50%) right !important;
    background-size:200% !important;
    justify-content: flex-start !important;
    transition:0.5s ease-out !important;
    display:flex !important;
    /*margin: 10px;*/
    padding-left: 15px;
}
.side-bar-link:hover{
    background-position:left !important;
}